<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js" integrity="sha512-w1Bktzax55ZbjW5Mqjz8+mKz4KqRjEUU35Dpq/ath29yskKqIGwNIHiFNp03m/OiJWDXvdQ1/g6aV+l4PeVO7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="w3.css">
    <style>
    </style>
  </head>
  <body>
    <form class="w3-display-middle w3-text-white"  action="" id="login-form">
      <h1 class="w3-jumbo w3-center w3-padding">Login</h1>
      <label class="w3-large w3-padding" for="">Username :</label> 
      <input class="w3-large"id="username" type="text">
      <br><br>
      <label class="w3-large w3-padding">Password : </label>
      <input class="w3-large" id="password" type="password">
      <br><br>
      <div class="w3-center">
        <input class="w3-large w3-btn"type="submit" value="Submit" id="submit">
      </div>
    </form>
    <script src="login.js"></script>
  </body>
</html>